<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Boot Test</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">

    <script src="/js/main.js" th:src="@{/js/main.js}"></script>
</head>

<body>
    <main>s
        <section id="info">
            <p th:text="'Text from the server: ' + ${valor}"/>
            <button id="btnCall" onclick="apiCallHandler(2, 5)">Call API</button>
        </section>
    </main>
</body>

</html>